p{
    font-size:medium;
}
ol {
    font-size:medium;
}
body {
  background-color: rgb(255, 255, 255);
  
  margin: 0;
  min-height: 100vh;
}

.italic-text{
    font-style:italic;
    color:rgb(0, 0, 0);
}

a{
    color:blue;
    text-decoration:none;
    transition:0.4s;
}

a:hover{
    color:rgb(125, 81, 166);
    
}

.container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color: bisque;
    gap:100px;
    
}

.list{
    display:inline-block;
    border-style:solid;
    border-width:0.5px;
    padding-right:5px;
    padding-left:0px;
    margin-left: 5px;
}

.list>p{
    text-align: center;
    font-weight: bold;
}

.img-container{
    float:right;
    border-style:solid;
    border-width: 0.5px;
    padding:5px;
    margin-left:10px;
}

.img-container>div{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.html-text-logo {
    background-color: #cfe3ff;
    height: 30px;
    width:300px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.html-text-logo > p {
    margin: 0; 
    font-weight: bold; 
    font-size: 16px;
}

